<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>teste</title>
</head>
<body>
    <table style="border: 1px solid black">
        <tbody>
            <tr>
                <td>id</td>
                <td>nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Livro de Node</td>
            </tr>
        </tbody>
    </table>
</body>
</html>